[submodule "pkg/CVMix-src"]
	path = pkg/CVMix-src
	url = git@github.com:CVMix/CVMix-src.git
[submodule "pkg/GSW-Fortran"]
	path = pkg/GSW-Fortran
	url = git@github.com:TEOS-10/GSW-Fortran.git
[submodule "pkg/MOM6_DA_hooks"]
	path = pkg/MOM6_DA_hooks
	url = git@github.com:MJHarrison-GFDL/MOM6_DA_hooks.git
[submodule "pkg/geoKdTree"]
	path = pkg/geoKdTree
	url = git@github.com:travissluka/geoKdTree.git
